/* RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  /* RESET END */

/* BODY */

body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 2s ease-in-out;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column: 2/4;
  grid-row: 2/4;
  height: 100%;
}

h1 {
  color: white;
  opacity: 0;
  animation: fadeInOut 5s ease-in-out infinite;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
}

@keyframes fadeInOut {
  0% { opacity: 0;}
  10% {opacity: 1;}
  20% {opacity: 1;}
  30% {opacity: 1;}
  40% {opacity: 1;}
  50% {opacity: 1;}
  60% {opacity: 1;}
  70% {opacity: 1;}
  80% {opacity: 0;}
  90% {opacity: 0;}
  100% {opacity: 0;}
}

button {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 60px;
  height: 30px;
  justify-self: center;
  align-self: start;
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

/* CLASS THAT WILL BE ADDED TO TABLE GENERATING BUTTON TO MAKE IT DISAPPEAR */
.disappear {
  opacity: 0;
  transition: opacity 1s ease-in-out
}

.table {
  border-collapse: collapse;
  border: 2px solid blue;
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
}
